<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Food Store</h5>
                <p>Your one-stop shop for delicious food products.</p>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light">Home</a></li>
                    <li><a href="/products" class="text-light">Products</a></li>
                    <li><a href="/cart" class="text-light">Cart</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li class="text-light">Email: info@foodstore.com</li>
                    <li class="text-light">Phone: (123) 456-7890</li>
                </ul>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
            <p class="mb-0">© 2025 Food Store. All rights reserved.</p>
        </div>
    </div>
</footer>
